/* Modificando los Ids */
#header {
    padding: 30px;
    background-color: cadetblue;
    display: flex;
}

#footer {
    padding: 30px;
    background-color: cadetblue;
} 

#content {
    padding: 20px;
    margin: 40px;
    background-color: khaki;
}

/* Modificando las Clases */

.header-title {
    padding-left: 50px;
    width: 100%;
}

.header-image {
    width: 35%
}

.seccion {
    padding: 10px;
    margin: 10px;
    border: solid 1px black
}

.titulo-seccion {
    border-bottom: solid 2px black;
}

/* Modificandop los Tags */

body {
    background-color: bisque;
}

table, tr, td, th {
    border: inset black 1px;
}

